@{
    ViewBag.Title = "Forgot/Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Forgot/Reset Password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form asp-controller="Cognito"
              asp-action="ForgotPasswordRequest"
              method="post"
              class="text-left"
              role="form"
              id = "ForgotPassword">          
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div id="spinupdate"></div>
                    <div class="login-group">
                        <div class="input-group">
                            <input id="Email" name="Email" class = "form-control" placeholder = "Email" />
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-warning">Submit</button>
                    <hr />
                </div>
            </form>
</div>
    <!-- end:Main Form -->
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#ForgotPassword").on("submit", function () {
        }).validate({
            rules: {
                Email: {
                    email: true,
                    minlength: 2,
                    maxlength: 80,
                    required: true,
                }
            },
            submitHandler: function (form) {
                $(":submit").attr("disabled", true);
                var spinner = loadSpinner('spinupdate');
                $.ajax({
                    type: $(form).attr('method'),
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    dataType: "json"
                })
                    .done(function (data) {
                        spinner.stop();
                        if (data.result == true) {
                            swal("Success", "Please check your email for your verification code. You will be redirect to the reset password page.", "success");

                        } else {
                            swal("Error", data.msg, "error");
                        }
                    });
                return false;
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
    }


